
.user-form {
  height: 100vh;
  background: url(../public/images/movie-bg2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-box {
  text-align: center;
  background-color: beige;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 11px #000000;
}

.MuiInputBase-input {
  padding: 28px !important;
  background-color: #ffffff !important;
}

.MuiFormControl-fullWidth {
  width: 90% !important;
}

.button-form {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #1583da;
  color: #ffffff;
  border: unset;
}

.link-to {
  margin: auto !important;
  padding: 10px;
}

.link-to a {
  color: #1583da;
}

/* User profile page */

.user-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e0e0e0;
  border: 2px solid #1583da;
  margin: auto;
}

.user-img svg {
    font-size: 70px;
    color: #1583da;
}

.upload-img {
  background-color: #1583da;
  color: #ffffff;
  border: 1px solid grey ;
  border-radius: 5px;
  padding: 5px;
}

.pointer {
  cursor: pointer;
}

.btn-hover {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.btn-hover:hover {
  background-color: #0960a3;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.user-info {
  max-width: 580px;
  margin: 30px auto;
}

.nav-link {
  background-color: #f0f8ff;
  margin-bottom: 25px !important;
  text-align: right;
  color: #0960a3;
  font-weight: 600;
  padding: 20px;
}

/* Movie Page */

.wrap {
  /* display: flex;
  justify-content: space-around; */
}

.container-left {
  display: flex;
}

.listmovie {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 25%;
}

.imagenya {
  height: 215px;
  width: 150px;
  overflow: hidden;
  margin: auto;
}

.fav-icon svg{
    color: red;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
